{% extends 'layout.html' %}
<h1>Aqui va mi otro contenido extra</h1>

{% block content %}
<!--<h2>Contenido de ejemplo</h2> -->
<div class="d-flex flex-wrap row-cols-4">
    {% for pr in products %}
  <div class="col p-2">
    <div class="card">
      <img />
      <div class="card-body">
        <h2 class="card-title">Producto 1</h2>
        <div class="card-text">Loremp ipsum....</div>
        <a class="btn btn-primary">Añadir al carrito</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
