.container-fluid{
    padding: 0px;
    margin: 0px;
}
.container-fluid > main {
    min-height: 75vh!important;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 32px;
    padding-bottom: 32px;
}

body {
    background-color: #20b2aa;
}

.d-flex .w-100 img {
    width: 100%;
}

.card a img {
    width: 100%;
}

.bg-darkblue {background-color: #213555;}
.bg-light {background-color: #3E5879;}
.bg-beige {background-color: #D8C4B6;}
.bg-smokebeige {background-color: #F5EFE7;}

.bg-dark-i {background-color: #213555!important;}
.bg-light-i {background-color: #3E5879!important;}
.bg-beige-i {background-color: #D8C4B6!important;}
.bg-smokebeige-i {background-color: #F5EFE7!important;}

.text-dark {color: #213555;}
.text-light {color: #3E5879;}
.text-beige {color: #D8C4B6;}
.text-smokebeige {color: #F5EFE7;}